.wrapper {
  display: flex;
  gap: 15px;
  padding-left: 20px;
  padding-top: 40px;
}

.optionButton {
  width: 100px;
  height: 40px;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 15px;
}

.optionButton:hover,
.optionButton:active {
  cursor: pointer;
  background-color: rgb(8, 8, 179);
}
